{% extends 'base.html.twig' %}

{% block title %}Hello CalculatorController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}!</h1>

    <h3>The result is: {{ result|default(0) }}</h3>

    <h3 style="color: red">{{ error|default }}</h3>

    <div class="form-wrapper">
        <form method="POST" action="calculator/calculate" name="form">
            <label>Type some number</label>
            <input required="required" type="number" name="value1" step="any" />

            <label>Choose the operator</label>
            <select required="required" name="operator">
                <option>Please select your operator</option>
                {% for operator in operators %}
                    <option value="{{operator}}">{{ operator }}</option>
                {% endfor %}
            </select>

            <label>Type another number to calculate</label>
            <input required="required" type="number" name="value2" step="any" />

            <button type="submit">=</button>
        </form>
    </div>
</div>
{% endblock %}
